* {
	font-size: 20px;
    font-family: 'JetBrains Mono NFM','JetBrains Mono NFM';
}

window#waybar {
	background: #0b0b0c;
	color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
	color: #1a1a1a;
}
#custom-right-arrow-light,
#custom-left-arrow-light {
	color: #0b0b0c;
	background: #1a1a1a;
}

#workspaces,
#clock.1,
#clock.2,
#clock.3,
#pulseaudio,
#memory,
#cpu,
#battery,
#disk,
#custom-notification,
#custom-dualsense,
#tray {
	background: #1a1a1a;
}

#workspaces button {
	padding: 0 0px;
	color: #fdf6e3;
}
#workspaces button.focused {
	color: #268bd2;
}
#workspaces button:hover {
	box-shadow: inherit;
	text-shadow: inherit;
}
#workspaces button:hover {
	background: #1a1a1a;
	border: #1a1a1a;
	padding: 0 3px;
}

#pulseaudio {
	color: #268bd2;
}
#memory {
	color: #2aa198;
}
#cpu {
	color: #6c71c4;
}
#battery.good{
	color: #98fb98;
}
#battery.normal {
	color: #859900;
}
#battery.warning{
	color: #d27d2d;
}
#battery.critical{
	color: #880808;
}
#custom-dualsense,
#disk {
	color: #b58900;
}
#custom-notification {
	font-family: "NotoSansMono Nerd Font";
}

#clock,
#pulseaudio,
#memory,
#cpu,
#battery,
#custom-notification,
#custom-dualsense,
#disk {
	padding: 0 10px;
}
